.imagen{
    width: 100vw;
    height: 30vh;
}
.contenido{
    position: fixed;
    width: 400vw;
    height: 100vh;
    display: flex;
}
.contenido-item{
    width: 100vw;
    overflow-y: auto;
    padding-bottom: 85px;
}
.modal.bottom-sheet{
    max-height: 50%;
}
.fixed-action-btn{
    bottom: 65px;
}
.collection{
    margin-top: 0;
}
ul{
    margin-block-start: 0;
    margin-block-end: 0;
}
.collection a.collection-item, .collection span.secondary-content{
    color: #6e6e6e;
}
.collection button.collection-item{
    color: #fff;
}
.borrar, .borrar:hover,.borrar::selection{
    background-color: red;
}
.menu{
    position: fixed;
    width: 100%;
    height: 60px;
    background: white;
    bottom: 0;
    border-top: 1px solid #b1b1b1;
}
.menu .menu-items{
    display: flex;
    width: 100%;
    height: 60px;
}
.menu-items button{
    width: 100%;
    height: 60px;
    border: 0;
    overflow: hidden;
}
#btn1{
    background: #fff;
    color: #28c2b2;
    font-size: 22px;
}
#btn2{
    background: #fff;
    color: #4b4b4b;
    font-size: 13px;
}
#btn3{
    background: #fff;
    color: #4b4b4b;
    font-size: 13px;
}
.activo1{
    right: -300%;
    transition: 0.5s;
}
.activo2{
    right: -200%;
    transition: 0.5s;
}
.activo3{
    right: -100%;
    transition: 0.5s;
}
.activo4{
    right:  -0%;
    transition: 0.5s;
}
.ml-3{
    margin-left: 10px;
}
#grafico1{
    width: 100%;
}
.title{
    color: #4b4b4b;
}
/*
.activo5{
    right:  0%;
    transition: 0.5s;
}*/